<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Cian Ormond">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= article.title%></title>
    <link rel="stylesheet" href="/ss/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand">
    <script src="/js/friconix-icons.js"></script>
</head>
<body>
    <%-include('../partials/navbar')-%>
    <div id="cover">
        <img src="/img/cover.jpg" alt="Breeze Airways aircraft pushing back" width="100%">
        <img id="home-logo" src="/img/breeze-virtual-logo.svg" alt="Breeze Airways Virtual logo">
    </div>
    <div id="card" style="text-align: center">
        <h1><%= article.title%></h1>
        <span><strong><%= article.author%></strong> | <em><%= article.date%></em></span>
        <div id="article-content">
            <p><%- content%></p>
        </div>
    </div>
    <%-include('../partials/footer')%>
</body>